<%= form_for Message.new, :remote => true do|f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new message..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>

<div class="student messages">
	<ol class="messages">
		<%= render @messages %>
	</ol>


</div>